.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background: inherit;
  color: #fff;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.logo > h1 {
  padding-left: 1rem;
  font: 600 2em arial;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: none;
}

.button {
  background-color: darkgray;
  outline: 0;
}

.buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
}
